@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #1B365D;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1{
    color: #fff;
}


.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15% 15%;
    padding-bottom: 15%;
}

/*Esta es la parte del nombre para que el usuario lo ingrese*/

.grupo-1, .grupo-2{
    display: flex;
    flex-direction: column;
}